body{
    background-color: aquamarine;
}
p{
    text-align: center;
    font-size: 32px;
}
.buttons{
    width: 100%;
    margin: 0 auto;
    
}
#btn1{
    background-color: red;
    font-size: 32px;
}
#btn2{
    background-color: green;
    font-size: 32px;
}